@font-face {
  font-family: 'MSGothic';
  src: url('./fonts/MSGothic.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'MSGothic', -apple-system, 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
